# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [18]:
print(os.getcwd())

csv_path = "../VacationPy/cities.csv"

weather_data = pd.read_csv(csv_path)
weather_data

/Users/school/Desktop/python-api-challenge/Instructions/starter_code

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,ostrovnoy,2,RU,1558378754,72,68.05,39.51,37.50,7.16
1,1,mahebourg,75,MU,1558378503,74,-20.41,57.70,78.80,11.41
2,2,qaanaaq,25,GL,1558378755,73,77.48,-69.36,22.20,2.37
3,3,zhuhai,0,CN,1558378755,39,40.71,112.04,44.60,4.47
4,4,cape town,20,ZA,1558378755,76,-33.93,18.42,55.99,8.05
...,...,...,...,...,...,...,...,...,...,...
543,543,yabrud,0,SY,1558378840,32,33.97,36.66,80.60,8.05
544,544,paraiso,5,MX,1558378898,4,24.01,-104.61,84.20,16.11
545,545,veraval,0,FR,1558378898,62,49.65,0.71,61.00,8.05
546,546,novyy urgal,100,RU,1558378899,93,51.07,132.56,49.74,2.68
547,547,tongren,4,CN,1558378899,64,27.72,109.18,55.86,2.84

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [16]:
gmaps.configure(api_key=g_key)

locations = weather_data[["Lat", "Lng"]]

humidity = weather_data["Humidity"]

In [17]:
fig =gmaps.figure()
heat_layer= gmaps.heatmap_layer(locations, humidity)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [23]:
#A max temperature lower than 80 degrees but higher than 70.

#Wind speed less than 10 mph.

#Zero cloudiness.

#Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.

#Note: Feel free to adjust to your specifications but be sure to limit the number of rows returned by your API 
#requests to a reasonable number.



narrowed_city = weather_data.loc[(weather_data["Wind Speed"] <= 10) & (weather_data["Cloudiness"] == 0) & 
                                   (weather_data["Max Temp"] >= 70) & (weather_data["Max Temp"] <= 80)].dropna()

narrowed_city

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
70,70,ponta do sol,0,BR,1558378767,57,-20.63,-46.00,73.68,5.32
88,88,cidreira,0,BR,1558378770,66,-30.17,-50.22,76.56,5.50
138,138,morondava,0,MG,1558378780,69,-20.30,44.28,79.08,9.06
139,139,vaini,0,IN,1558378780,88,15.34,74.49,78.90,1.59
176,176,nador,0,MA,1558378499,40,35.17,-2.93,75.20,6.93
297,297,mogok,0,MM,1558378844,51,22.92,96.51,72.24,2.77
444,444,birjand,0,IR,1558378880,26,32.86,59.22,71.60,9.17

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [24]:
hotel_df = pd.DataFrame(narrowed_city, columns =["City", "Country", "Lat", "Lng"])
hotel_df["Hotel Name"] = ""
hotel_df

             City Country    Lat    Lng Hotel Name
70   ponta do sol      BR -20.63 -46.00
88       cidreira      BR -30.17 -50.22
138     morondava      MG -20.30  44.28
139         vaini      IN  15.34  74.49
176         nador      MA  35.17  -2.93
297         mogok      MM  22.92  96.51
444       birjand      IR  32.86  59.22

In [35]:
url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

parameters= {"type" : "hotel",
          "keyword" : "hotel",
          "radius" : 5000,
          "key" : g_key}



for index, row in hotel_df.iterrows():
    # get city name, lat, lnt from df
    lat = row["Lat"]
    lng = row["Lng"]
    city_name = row["City"]
    
    # add keyword to params dict
    parameters["location"] = f"{lat},{lng}"

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {city_name}.")
    response = requests.get(url, params=parameters).json()
    
    # extract results
    results = response['results']
    
    # save the hotel name to dataframe
    try:
        print(f"Closest hotel in {city_name} is {results[0]['name']}.")
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']

    # if there is no hotel available, show missing field
    except (KeyError, IndexError):
        print("Results not found")
        
    print("------------")
    
    
    
# Print end of search once searching is completed
print("-------End-------")

Retrieving Results for Index 70: ponta do sol.
Closest hotel in ponta do sol is Camaleao Hostel.
------------
Retrieving Results for Index 88: cidreira.
Closest hotel in cidreira is Hotel Castelo.
------------
Retrieving Results for Index 138: morondava.
Closest hotel in morondava is Palissandre Cote Ouest resort & SPA.
------------
Retrieving Results for Index 139: vaini.
Results not found
------------
Retrieving Results for Index 176: nador.
Closest hotel in nador is Hotel Marchica Lagoon Resort, Nador Morocco.
------------
Retrieving Results for Index 297: mogok.
Results not found
------------
Retrieving Results for Index 444: birjand.
Closest hotel in birjand is Ù‡ØªÙ„ Ù¾Ø±ÙˆÙŠØ².
------------
-------End-------

In [33]:
hotel_df

,City,Country,Lat,Lng,Hotel Name
70,ponta do sol,BR,-20.63,-46.00,Camaleao Hostel
88,cidreira,BR,-30.17,-50.22,Hotel Castelo
138,morondava,MG,-20.30,44.28,Palissandre Cote Ouest resort & SPA
139,vaini,IN,15.34,74.49,
176,nador,MA,35.17,-2.93,"Hotel Marchica Lagoon Resort, Nador Morocco"
297,mogok,MM,22.92,96.51,Mount Mogok Hotel
444,birjand,IR,32.86,59.22,Ù‡ØªÙ„ Ù¾Ø±ÙˆÙŠØ²

In [30]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [37]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)

fig.add_layer(markers)
# Display figure
fig

Figure(layout=FigureLayout(height='420px'))